.BuscarFilmeCard {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 30vh;
    color: inherit;
    border-radius: 1vh;
    padding: 2vh;
    align-items: center;
    gap: 1vh;
    background-color: #3C3C3C;
    color: white;

    .poster {
        display: flex;

        img {
            min-width: 100%;
            height: 100%;
        }
    }

    .informacoes {
        display: flex;
        justify-content: center;
        padding-left: 2vh;
        padding-right: 2vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .BuscarFilmeCard {
        display: flex;
        text-decoration: none;
        width: 100%;
        height: auto;
        color: inherit;
        border-radius: 1vh;
        flex-direction: column;
        padding: 3vh;
        align-items: center;
        gap: 1vh;
        background-color: #3C3C3C;
        color: white;

        .poster {
            display: flex;

            img {
                min-width: 100%;
                height: 100%;
            }
        }

        .informacoes {
            display: flex;
            justify-content: center;
            padding-left: 2vh;
            padding-right: 2vh;
            flex-direction: column;
        }
    }
}