.HomeAbaRecomendados {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;

    .reviews_title {
        display: flex;
        height: 10vh;
        width: 60%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .BlocoVermelho {
        display: flex;
        background-color: red;
        width: 10%;
        border-radius: 0.5vh;
        height: 0.5vh;
    }

    .BannersExibicao {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 5vh;
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: center;
        gap: 2vh;

        img {
            width: 100%;
            height: 80%;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .FilmeDestaque {
        display: flex;
        width: 60%;
        height: auto;
        gap: 10vh;
        flex-direction: row;

        .LadoEsquerdo {
            display: flex;
            width: 24%;
            height: auto;
        }

        .LadoDireito {
            display: flex;
            width: 80%;
            flex-direction: column;
            height: auto;
        }

        h1 {
            font-size: 5vh;
        }

        h3 {
            font-size: 3vh;
        }

        button {
            width: 30%;
            height: 4.5vh;
            cursor: pointer;
            border-radius: 1vh;
            outline: none;
            transition: all 0.5s;
            font-size: 1.8vh;
            font-weight: 700;
            border: none;
            background-color: #5A0001;
            color: white;
        }

        button:hover {
            transform: scale(1.1);
            background-color: #410102;
        }
    }

    #FilmesRecomendados {
        text-align: left;
        width: 60%;
        padding-top: 5vh;
    }
}

@media screen and (max-width: 768px) {
    .HomeAbaRecomendados {
        display: flex;
        width: 100%;
        height: auto;
        padding-bottom: 10vh;
        background-color: black;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;

        .reviews_title {
            display: flex;
            height: 10vh;
            width: 90%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .BlocoVermelho {
            display: flex;
            background-color: red;
            width: 10%;
            border-radius: 0.5vh;
            height: 0.5vh;
        }

        .BannersExibicao {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 2vh;
            flex-direction: row;
            width: 80%;
            align-items: center;
            justify-content: center;
            gap: 2vh;

            img {
                width: 100%;
                height: 80%;
            }

            img:hover {
                cursor: pointer;
            }
        }

        .FilmeDestaque {
            display: flex;
            width: 90%;
            height: auto;
            gap: 10vh;
            flex-direction: row;

            .LadoEsquerdo {
                display: flex;
                width: 24%;
                height: auto;
            }

            .LadoDireito {
                display: flex;
                width: 80%;
                flex-direction: column;
                height: auto;
            }

            h1 {
                font-size: 5vh;
            }

            h3 {
                font-size: 3vh;
            }

            button {
                width: 30%;
                height: 4.5vh;
                cursor: pointer;
                border-radius: 1vh;
                outline: none;
                transition: all 0.5s;
                font-size: 1.8vh;
                font-weight: 700;
                border: none;
                background-color: #5A0001;
                color: white;
            }

            button:hover {
                transform: scale(1.1);
                background-color: #410102;
            }
        }

        #FilmesRecomendados {
            text-align: left;
            width: 80%;
            text-align: justify;
            padding-top: 5vh;
            font-size: 3vh;
        }
    }

}