.ConteudoPaginaFilmes {
    display: flex;
    width: 100%;
    min-height: 105vh;
    background-color: black;
    padding: 5vh;
    flex-direction: column;
    padding: 5vh;

    .TituloPesquisarFilmesDinamicos {
        display: flex;
        width: 60%;
        align-self: center;
        align-items: center;
        justify-content: center;
        height: 4vh;
        gap: 2vh;
        flex-direction: row;

        .BarraPesquisa {
            display: flex;
            width: 100%;

            h3 {
                display: flex;
                align-self: center;
                position: absolute;
                margin-left: 1vh;
                font-size: 2.5vh;
            }

            input {
                width: 100%;
                outline: none;
                color: white;
                background-color: #1C1D1D;
                border: none;
                padding: 1vh;
                padding-left: 4vh;
                border-radius: 1vh;
                height: 5vh;
                font-size: 2vh;
            }
        }


        button {
            display: flex;
            width: 20%;
            border-radius: 1vh;
            outline: none;
            height: 5vh;
            border: none;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            color: white;
            font-weight: 500;
            padding: 0.5vh;
            cursor: pointer;
            background-color: #AA2522;
        }

        button:hover {
            background-color: #802523;
        }
    }

    .CentralizadorPaginaFilmes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

        .ListaPaginaFilmes {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding-top: 2vh;
            flex-direction: row;
            width: 60%;
            align-items: center;
            justify-self: center;
            justify-content: center;
            gap: 2vh;

            img {
                width: 100%;
                height: 80%;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .ConteudoPaginaFilmes {
        display: flex;
        width: 100%;
        min-height: 105vh;
        background-color: black;
        padding: 5vh;
        flex-direction: column;
        padding: 5vh;

        .TituloPesquisarFilmesDinamicos {
            display: flex;
            width: 90%;
            align-self: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 20vh;
            gap: 2vh;

            .BarraPesquisa {
                display: flex;
                width: 100%;

                h3 {
                    display: flex;
                    align-self: center;
                    position: absolute;
                    margin-left: 1vh;
                    font-size: 2.5vh;
                }

                input {
                    width: 100%;
                    outline: none;
                    color: white;
                    background-color: #1C1D1D;
                    border: none;
                    padding: 1vh;
                    padding-left: 4vh;
                    border-radius: 1vh;
                    height: 7vh;
                    font-size: 3vh;
                }
            }

            button {
                display: flex;
                width: 100%;
                border-radius: 1vh;
                outline: none;
                height: 7vh;
                border: none;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                color: white;
                font-weight: 500;
                padding: 0.5vh;
                cursor: pointer;
                background-color: #AA2522;
            }

            button:hover {
                background-color: #802523;
            }
        }

        .CentralizadorPaginaFilmes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;

            .ListaPaginaFilmes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-top: 2vh;
                flex-direction: row;
                width: 90%;
                align-items: center;
                justify-self: center;
                justify-content: center;
                gap: 2vh;

                img {
                    width: 100%;
                    height: 80%;
                }

                img:hover {
                    cursor: pointer;
                }
            }
        }

    }
}