        .EspacoDetalhes {
            display: flex;
            width: 60%;
            display: flex;
            width: 100%;
            height: 70vh;
            background-color: white;
            justify-content: center;
            height: 30vh;
            flex-direction: column;
            align-self: center;
            justify-self: center;

            img {
                width: 20vh;
                height: 100vh;
            }
        }


        .Carregando {
            display: flex;
            height: 100%;
            height: 100vh;
            background-color: black;
            color: white;
            font-size: 8vh;
            width: 100%;
        }