.AlinhadorGeralComentario {
    display: flex;
    width: 100%;
    min-height: 40vh;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    background-color: white;
    padding-right: 40%;
    padding-left: 40%;

    form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        display: flex;
        width: 100%;
        height: 5vh;
        padding: 1vh;
        border-radius: 1vh;
        border: black 0.1 solid;
        outline: none;
    }

    input {
        width: 100%;
        height: 5vh;
        border-radius: 1vh;
        padding: 1vh;
        border: black 0.1 solid;
        outline: none;
    }

    button {
        display: flex;
        width: 100%;
        height: 5vh;
        justify-content: center;
        align-items: center;
        border-radius: 1vh;
        cursor: pointer;
        margin-top: 5vh;
    }

    #heart-none {
        display: flex;
        cursor: pointer;
        background-color: pink;
        color: purple;
    }

    #heart-curtido {
        color: red;
    }

    .Like {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}