.container_registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: white;

  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/images/BackgroundFilmes.png);
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  .registro {
    background-color: #111111;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: #a7a9a9;
      }

      input,
      textarea {
        background-color: #333;
        border: none;
        padding: 0.75rem 1rem;
        margin-bottom: 1.5rem;
        border-radius: 16px;
        font-size: 1rem;
        color: #ffffff;

        &::placeholder {
          color: #aaa;
        }

        &:focus {
          outline: 2px solid #a7a9a9;
        }
      }

      .input-senha {
        position: relative;
        width: 100%;

        input {
          width: 100%;
          padding-right: 3rem;
          height: 45px;
          border-radius: 16px;
          box-sizing: border-box;
        }

        .btn-olho {
          position: absolute;
          top: 20%;
          right: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;

          width: 32px;
          padding: 0;
          margin: 0;
          background: none;
          border: none;
          outline: none;
          box-shadow: none;
          cursor: pointer;
          color: #b3b3b3;

          svg {
            font-size: 1.2rem;
            pointer-events: none;
          }

          &:hover {
            color: #fff;
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }

      button {
        padding: 0.75rem 1rem;
        background-color: #cb1b25;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #5a0001;
        }
      }
    }

    p {
      margin-top: 1.5rem;
      text-align: center;
      color: white;
      font-size: 0.9rem;

      a {
        color: #cb1b25;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
