.ChatComunidade {
    display: flex;
    width: 100%;
    height: 92vh;
    background-color: black;
    padding: 5vh;
    align-items: baseline;
    flex-direction: column;

    .ListarComentarios {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 60vh;
        
        align-self: center;
        border-radius: 1vh;
        gap: 2vh;
        box-sizing: border-box;
        padding-right: 2vh;
        overflow-y: auto;
        scroll-behavior: smooth;
        scrollbar-width: auto;
        scrollbar-color: #888 #f1f1f1;
    }

    .TituloPesquisarFilmesDinamicos {
        display: flex;
        width: 60%;
        padding-top: 5vh;
        align-self: center;
        align-items: center;
        justify-content: center;
        height: 4vh;
        gap: 2vh;
        flex-direction: row;

        .BarraPesquisa {
            display: flex;
            width: 100%;
            position: relative;

            h3 {
                display: flex;
                align-self: center;
                position: absolute;
                margin-left: 1vh;
                font-size: 2.5vh;
            }

            input {
                width: 100%;
                outline: none;
                color: white;
                background-color: #1C1D1D;
                border: none;
                padding: 1vh 1vh 1vh 4vh;
                border-radius: 1vh;
                height: 5vh;
                font-size: 2vh;
            }
        }

        button {
            display: flex;
            width: 20%;
            border-radius: 1vh;
            outline: none;
            height: 5vh;
            border: none;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            color: white;
            font-weight: 500;
            padding: 0.5vh;
            cursor: pointer;
            background-color: #AA2522;
        }

        button:hover {
            background-color: #802523;
        }
    }
}

@media screen and (max-width: 768px) {
    .ChatComunidade {
        display: flex;
        width: 100%;
        height: 92vh;
        background-color: black;
        padding: 5vh;
        align-items: baseline;
        flex-direction: column;

        .ListarComentarios {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60vh;
            align-self: center;
            border-radius: 1vh;
            gap: 2vh;
            box-sizing: border-box;
            padding-right: 2vh;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: auto;
            scrollbar-color: #888 #f1f1f1;
        }

        .TituloPesquisarFilmesDinamicos {
            display: flex;
            width: 100%;
            padding-top: 5vh;
            align-self: center;
            align-items: center;
            justify-content: center;
            height: 4vh;
            gap: 2vh;
            flex-direction: row;

            .BarraPesquisa {
                display: flex;
                width: 100%;
                position: relative;

                h3 {
                    display: flex;
                    align-self: center;
                    position: absolute;
                    margin-left: 1vh;
                    font-size: 2.5vh;
                }

                input {
                    width: 100%;
                    outline: none;
                    color: white;
                    background-color: #1C1D1D;
                    border: none;
                    padding: 1vh 1vh 1vh 4vh;
                    border-radius: 1vh;
                    height: 8vh;
                    font-size: 2vh;
                }
            }

            button {
                display: flex;
                width: 40%;
                border-radius: 1vh;
                outline: none;
                height: 8vh;
                border: none;
                align-items: center;
                justify-content: center;
                transition: all 0.3s;
                color: white;
                font-weight: 500;
                padding: 0.5vh;
                cursor: pointer;
                background-color: #AA2522;
            }

            button:hover {
                background-color: #802523;
            }
        }
    }
}