.DetalhesDaObra {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .AlinhadorDetalhes {
        display: flex;
        width: 60%;

        .DetalhesConteudo {
            display: flex;
            color: white;
            width: 50%;
            flex-direction: column;
        }

        .Trailer {
            display: flex;
            width: 50%;
            justify-content: right;
            align-items: center;
            color: white;
            gap: 2vh;
        }

        button {
            width: 30%;
            height: 4.5vh;
            cursor: pointer;
            border-radius: 1vh;
            outline: none;
            transition: all 0.5s;
            font-size: 1.8vh;
            font-weight: 700;
            border: none;
            background-color: #AA2522;
            color: white;
        }

        button:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.1);
            background-color: #802523;
        }

    }

}

.PosterSinopse {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .EspacoDetalhes {
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: left;
        gap: 5vh;
        color: white;
    }

    img {
        border-radius: 0.5vh;
        transition: all 0.5s;
    }


    #BackgroungDoFilme {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -999;
        filter: brightness(15%);
    }

    .DetalhesAlinhador {
        display: flex;
        height: 30vh;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .Detalhes {
        display: flex;
        gap: 1.5vh;
        width: 5%;
        gap: 1vh;
    }

    .Diretor {
        display: flex;
        margin-bottom: 1vh;
        flex-direction: column;
    }

    .Information {
        display: flex;
        gap: 1vh;
    }

    .Sinopse {
        display: flex;
        margin-top: 2vh;
        text-align: justify;
        border-radius: 1vh;
        font-size: 2vh;
    }
}

.SessaoComentarios {
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 15%);
    padding-top: 5vh;
    color: #EFECE3;

    .OsComentarios {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 60%;
        align-items: center;

        h1 {
            margin-top: 10vh;
            font-size: 4vh;
            width: 100%;
        }
    }

    .BlocoVermelho {
        display: flex;
        background-color: red;
        width: 10%;
        border-radius: 0.5vh;
        height: 0.5vh;
        margin-bottom: 5vh;
    }

    .Comentarios {
        display: flex;
        width: 70%;
    }
}

.Modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;

    input {
        width: 100%;
        height: 5vh;
        font-size: 2vh;
        outline: none;
        border: 0.1vh rgba(128, 128, 128, 0.322) solid;
        padding: 1vh;
        border-radius: 0.8vh;
    }
}

.MenuComentarioMovie {
    position: absolute;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1vh;
    background-color: rgba(20, 20, 20, 0.95);
    border: 1px solid #5A0001;
    border-radius: 1vh;
    padding: 1.5vh;
    box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.2s ease-in-out;
    z-index: 20;
    min-width: 15vh;
}

.MenuLinks {
    text-decoration: none;
    color: white;
    background-color: #5A0001;
    padding: 1vh 1.5vh;
    border-radius: 0.8vh;
    font-size: 1.6vh;
    font-weight: 700;
    text-align: center;
    transition: all 0.25s ease-in-out;
    border: none;
    cursor: pointer;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-0.5vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 768px) {
    .DetalhesDaObra {
        display: flex;
        width: 100%;
        height: 20vh;
        flex-direction: column;
        padding-top: 15vh;

        .AlinhadorDetalhes {
            display: flex;
            width: 90%;
            height: auto;
            flex-direction: column;

            .DetalhesConteudo {
                display: flex;
                color: white;
                width: 100%;
                font-size: 3vh;
                flex-direction: column;
            }

            .Trailer {
                display: flex;
                width: 100%;
                justify-content: left;
                align-items: left;
                flex-direction: column;
                color: white;
                gap: 2vh;
            }

            button {
                width: 100%;
                height: 7vh;
                cursor: pointer;
                border-radius: 1vh;
                outline: none;
                transition: all 0.5s;
                font-size: 3vh;
                font-weight: 700;
                border: none;
                background-color: #AA2522;
                color: white;
            }

            button:hover {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: scale(1);
                background-color: #802523;
            }

        }

    }

    .PosterSinopse {
        display: flex;
        width: 100%;
        padding-top: 15vh;
        align-items: center;
        justify-content: center;

        .EspacoDetalhes {
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: left;
            height: 30vh;
            flex-direction: column;
            gap: 5vh;
            color: white;
        }

        img {
            border-radius: 0.5vh;
            width: 100%;
            transition: all 0.5s;
        }


        #BackgroungDoFilme {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: -999;
            filter: brightness(15%);
        }

        .DetalhesAlinhador {
            display: flex;
            height: 45vh;
            width: 100%;
            justify-content: center;
            padding-top: 50vh;
        }

        .Detalhes {
            display: flex;
            gap: 1.5vh;
            width: 5%;
            gap: 1vh;
            flex-direction: column;
        }

        .Diretor {
            display: flex;
            margin-bottom: 1vh;
            flex-direction: column;
        }

        .Information {
            display: flex;
            flex-direction: column;
            gap: 1vh;
        }

        .Sinopse {
            display: flex;
            margin-top: 2vh;
            text-align: justify;
            font-size: 3vh;
        }
    }

    .SessaoComentarios {
        display: flex;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 15%);
        padding-top: 50vh;
        padding-bottom: 20vh;
        color: #EFECE3;

        .OsComentarios {
            display: flex;
            margin-top: 100vh;
            flex-direction: column;
            gap: 3vh;
            width: 90%;
            padding-top: 10vh;
            align-items: center;

            h1 {
                margin-top: 10vh;
                font-size: 4vh;
                width: 100%;
            }
        }

        .BlocoVermelho {
            display: flex;
            width: 10%;
            border-radius: 0.5vh;
            height: 0.5vh;
            margin-bottom: 5vh;
        }

        .Comentarios {
            display: flex;
            width: 100%;
        }
    }

    .Modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vh;
        padding-left: 2vh;
        padding-right: 2vh;

        input {
            width: 100%;
            height: 5vh;
            font-size: 2vh;
            outline: none;
            border: 0.1vh rgba(128, 128, 128, 0.322) solid;
            padding: 1vh;
            border-radius: 0.8vh;
        }
    }
}