.Gráfico {
    display: flex;
    width: 100%;
    flex-direction: column;

    .InfoSite {
        display: flex;
        align-items: baseline;
        padding: 5vh;
        width: 100%;
        height: 92vh;
        background-color: black;
        color: white;
        flex-direction: column;
    }

    .AlignCounter {
        display: flex;
        flex-direction: row;
        gap: 2.5vh;
        justify-content: center;
        padding-top: 20vh;
        width: 60%;
        align-self: center;

        .Left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.3vh;
            width: 30vh;
            height: 15vh;
            background-color: rgba(128, 128, 128, 0.471);
            border-radius: 1vh;
            padding: 2vh;
            transition: all 0.5s;

            h2 {
                font-size: 2.5vh;
                font-weight: 200;
            }

            h3 {
                font-size: 3vh;
                font-weight: 500;
            }

            .Title {
                display: flex;
                flex-direction: column;
            }

        }

        #Admin {
            width: 35%;
            height: 5vh;
            padding: 0.2vh;
            font-size: 3vh;
            border-radius: 1vh;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
        }

        .Left:hover {
            transform: scale(1.03);
            background-color: rgba(128, 128, 128, 0.67);
        }

        .Right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.3vh;
            width: 30vh;
            height: 15vh;
            background-color: rgba(128, 128, 128, 0.471);
            border-radius: 1vh;
            padding: 2vh;
            transition: all 0.5s;

            h2 {
                font-size: 2.5vh;
                font-weight: 200;
            }

            h3 {
                font-size: 3vh;
                font-weight: 500;
            }

            .Title {
                display: flex;
                flex-direction: column;
            }

        }

        #Users {
            font-size: 3vh;
            width: 35%;
            height: 5vh;
            padding: 1vh;
            border-radius: 1vh;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
        }

        .Right:hover {
            transform: scale(1.03);
            background-color: rgba(128, 128, 128, 0.67);
        }
    }
}

@media screen and (max-width: 768px) {
    .Gráfico {
        display: flex;
        width: 100%;
        flex-direction: column;

        .InfoSite {
            display: flex;
            align-items: baseline;
            padding: 5vh;
            width: 100%;
            height: 92vh;
            background-color: black;
            color: white;
            flex-direction: column;
        }

        .AlignCounter {
            display: flex;
            flex-direction: column;
            gap: 2.5vh;
            justify-content: center;
            padding-top: 20vh;
            width: 60%;
            align-self: center;

            .Left {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.3vh;
                width: 30vh;
                height: 15vh;
                background-color: rgba(128, 128, 128, 0.471);
                border-radius: 1vh;
                padding: 2vh;
                transition: all 0.5s;

                h2 {
                    font-size: 2.5vh;
                    font-weight: 200;
                }

                h3 {
                    font-size: 3vh;
                    font-weight: 500;
                }

                .Title {
                    display: flex;
                    flex-direction: column;
                }

            }

            #Admin {
                width: 35%;
                height: 5vh;
                padding: 0.2vh;
                font-size: 3vh;
                border-radius: 1vh;
                background-color: white;
                color: black;
                align-items: center;
                justify-content: center;
            }

            .Left:hover {
                transform: scale(1.03);
                background-color: rgba(128, 128, 128, 0.67);
            }

            .Right {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.3vh;
                width: 30vh;
                height: 15vh;
                background-color: rgba(128, 128, 128, 0.471);
                border-radius: 1vh;
                padding: 2vh;
                transition: all 0.5s;

                h2 {
                    font-size: 2.5vh;
                    font-weight: 200;
                }

                h3 {
                    font-size: 3vh;
                    font-weight: 500;
                }

                .Title {
                    display: flex;
                    flex-direction: column;
                }

            }

            #Users {
                font-size: 3vh;
                width: 35%;
                height: 5vh;
                padding: 1vh;
                border-radius: 1vh;
                background-color: white;
                color: black;
                align-items: center;
                justify-content: center;
            }

            .Right:hover {
                transform: scale(1.03);
                background-color: rgba(128, 128, 128, 0.67);
            }
        }
    }
}